# Data Preprocessing for comments
listing_id             3831
date             2019-05-06
reviewer_id       224698181
comments                  .

comments liks this needs to be reomved. Also we are working on english corpus only

In [1]:
import pandas as pd
import numpy as np

In [2]:
input_df = pd.read_csv('Clean_reviews.csv')
print(len(input_df))

1273227

In [4]:

print(input_df.shape)
input_df.head()

(1273227, 4)

,listing_id,date,reviewer_id,comments
0,2060,2008-09-22,2865,"very nice neighborhood,close enough to ""A"" tra..."
1,2595,2009-11-21,50679,Notre séjour de trois nuits.\r\nNous avons app...
2,2595,2009-12-05,53267,Great experience.
3,2595,2009-12-10,38960,I've stayed with my friend at the Midtown Cast...
4,2595,2010-04-09,71130,"We've been staying here for about 9 nights, en..."

## Using LangDetect library 
Langdetect api does not parse the alphanumeric and numeric values, so we have to do exception handling as it throws errors when it encounters non-alpha characters.

In [47]:
filtered_list = []
from langdetect import detect
for i in range(len(input_df)):
    try:
        language = detect(input_df.iloc[i].comments)
        if language=='en':
            filtered_list.append(input_df.iloc[i])
    except:
        print("This row throws an error:", input_df.iloc[i].comments + str(i))

This row throws an error: .302
This row throws an error: .2629
This row throws an error: :)3657
This row throws an error: ..5755
This row throws an error: =(9199
This row throws an error: ✅11000
This row throws an error: .14313
This row throws an error: .14316
This row throws an error: .14369
This row throws an error: .14580
This row throws an error: .17240
This row throws an error: ..18277
This row throws an error: .19196
This row throws an error: 419244
This row throws an error: 120988
This row throws an error: .21266
This row throws an error: .23081
This row throws an error: 12324192
This row throws an error: .24355
This row throws an error: _27402
This row throws an error: --28887
This row throws an error: .29473
This row throws an error: ...29976
This row throws an error: .31941
This row throws an error: .32014
This row throws an error: .37129
This row throws an error: .38788
This row throws an error: .40890
This row throws an error: .43224
This row throws an error: -45375
This row throws an error: ️️️️️46849
This row throws an error: .48201
This row throws an error: ,49330
This row throws an error: .50481
This row throws an error: .51403
This row throws an error: 057389
This row throws an error: .57805
This row throws an error: .60151
This row throws an error: .61528
This row throws an error: :)63011
This row throws an error: .63203
This row throws an error: -63969
This row throws an error: .65627
This row throws an error: .66183
This row throws an error: .66743
This row throws an error: .69059
This row throws an error: .71591
This row throws an error: .71664
This row throws an error: -72150
This row throws an error: -73546
This row throws an error: .74693
This row throws an error: .75347
This row throws an error: ...76589
This row throws an error: .76803
This row throws an error: ...77657
This row throws an error: .80211
This row throws an error: .80782
This row throws an error: .80825
This row throws an error: -83279
This row throws an error: .85546
This row throws an error: . 85608
This row throws an error: :)89613
This row throws an error: .90542
This row throws an error: -91545
This row throws an error: .92776
This row throws an error: :)93563
This row throws an error: -93672
This row throws an error: 10/1093819
This row throws an error: .94246
This row throws an error: ...98902
This row throws an error: .99394
This row throws an error: .99395
This row throws an error: .99876
This row throws an error: .100387
This row throws an error: ...101147
This row throws an error: ✌102588
This row throws an error: .102822
This row throws an error: .107537
This row throws an error: ...112184
This row throws an error: .113461
This row throws an error: .117161
This row throws an error: .117486
This row throws an error: .118110
This row throws an error: -118990
This row throws an error: .119389
This row throws an error: .121254
This row throws an error: .122724
This row throws an error: .124590
This row throws an error: ~125380
This row throws an error: .127206
This row throws an error: .129936
This row throws an error: -130971
This row throws an error: .131524
This row throws an error: .132801
This row throws an error: .133565
This row throws an error: .134336
This row throws an error: *134390
This row throws an error: .135651
This row throws an error: .135747
This row throws an error: .137755
This row throws an error: .137762
This row throws an error: (:138359
This row throws an error: .139245
This row throws an error: ,139335
This row throws an error: .141583
This row throws an error: .141671
This row throws an error: .141735
This row throws an error: .141937
This row throws an error: --143800
This row throws an error: ❤️144445
This row throws an error: .144614
This row throws an error: .148290
This row throws an error: 9!148616
This row throws an error: .149093
This row throws an error: ...151045
This row throws an error: .158696
This row throws an error: ****159577
This row throws an error: !161012
This row throws an error: .161861
This row throws an error: -164101
This row throws an error: .165769
This row throws an error: .167072
This row throws an error: .169346
This row throws an error: ❤️170589
This row throws an error: ..173661
This row throws an error: :)174694
This row throws an error: ..176574
This row throws an error: —176755
This row throws an error: 6/10177963
This row throws an error: ..179515
This row throws an error: .181658
This row throws an error: .182356
This row throws an error: ⭐️⭐️⭐️⭐️182568
This row throws an error: .183344
This row throws an error: :)185845
This row throws an error: .187365
This row throws an error: <3188265
This row throws an error: .188432
This row throws an error: .188694
This row throws an error: :)189860
This row throws an error: -191323
This row throws an error: ...192304
This row throws an error: .193626
This row throws an error: .193792
This row throws an error: .195883
This row throws an error: ⭐️⭐️⭐️197131
This row throws an error: :)197572
This row throws an error: ..199169
This row throws an error: -199209
This row throws an error: -199760
This row throws an error: .200547
This row throws an error: -201285
This row throws an error: .202873
This row throws an error: "."202874
This row throws an error: .202889
This row throws an error: ****207420
This row throws an error: ;)208244
This row throws an error: .212713
This row throws an error: .214160
This row throws an error: !214317
This row throws an error: .214535
This row throws an error: .214631
This row throws an error: .214827
This row throws an error: .214920
This row throws an error: ◝(⑅꒨௰꒨⑅)◜215437
This row throws an error: .215492
This row throws an error: ........216892
This row throws an error: .217904
This row throws an error: .217919
This row throws an error: ****218470
This row throws an error: .221018
This row throws an error: ....223061
This row throws an error: .223595
This row throws an error: .225875
This row throws an error: .227401
This row throws an error: ⭐️⭐️⭐️⭐️⭐️228157
This row throws an error: .229332
This row throws an error: .230210
This row throws an error: -231132
This row throws an error: .234880
This row throws an error: ...234900
This row throws an error: .235449
This row throws an error: --235597
This row throws an error: --235608
This row throws an error: 0236235
This row throws an error: ⭐️⭐️⭐️⭐️⭐️239108
This row throws an error: --240147
This row throws an error: .241027
This row throws an error: .242637
This row throws an error: .244047
This row throws an error: ...244090
This row throws an error: ????244894
This row throws an error: .245434
This row throws an error: .245441
This row throws an error: -246346
This row throws an error: .247043
This row throws an error: ⭐️⭐️⭐️⭐️⭐️249149
This row throws an error: .251001
This row throws an error: .251133
This row throws an error: .253020
This row throws an error: ..254348
This row throws an error: !254555
This row throws an error: :)255523
This row throws an error: .256390
This row throws an error: .257327
This row throws an error: .258091
This row throws an error: -258186
This row throws an error: :-)258245
This row throws an error: .258348
This row throws an error: .260517
This row throws an error: .260644
This row throws an error: :)261184
This row throws an error: .262363
This row throws an error: .264096
This row throws an error: .267956
This row throws an error: .268433
This row throws an error: .269264
This row throws an error: -269695
This row throws an error: -270916
This row throws an error: .271601
This row throws an error: .274040
This row throws an error: .274308
This row throws an error: :)275395
This row throws an error: .276707
This row throws an error: .278238
This row throws an error: -279036
This row throws an error: .284547
This row throws an error: . 286156
This row throws an error: .286276
This row throws an error: .286443
This row throws an error: ,289029
This row throws an error: ☺️❤️290000
This row throws an error: -291163
This row throws an error: .293106
This row throws an error: ++
294180
This row throws an error: .294642
This row throws an error: .298996
This row throws an error: ❤️300165
This row throws an error: .302281
This row throws an error: .302374

This row throws an error: 10/10302479
This row throws an error: .303463
This row throws an error: .304223
This row throws an error: -305902
This row throws an error: 10/10306006
This row throws an error: .306530
This row throws an error: -308983
This row throws an error: .309688
This row throws an error: .310246
This row throws an error: -311001
This row throws an error: .311478
This row throws an error: .311586
This row throws an error: .313006
This row throws an error: :)313335
This row throws an error: !314438
This row throws an error: '314561
This row throws an error: .314733
This row throws an error: -314941
This row throws an error: .316472
This row throws an error: .316481
This row throws an error: .316555
This row throws an error: .316560
This row throws an error: .319374
This row throws an error: .320471
This row throws an error: .321861
This row throws an error: ❣️322396
This row throws an error: .322945
This row throws an error: .323210
This row throws an error: .324544
This row throws an error: .324625
This row throws an error: :)324955
This row throws an error: :)324973
This row throws an error: .326023
This row throws an error: .326416
This row throws an error: ⭐️⭐️⭐️⭐️⭐️328924
This row throws an error: .329442
This row throws an error: .330500
This row throws an error: .330531
This row throws an error: .330585
This row throws an error: :)331276
This row throws an error: .331720
This row throws an error: ...331786
This row throws an error: .334776
This row throws an error: ;-)335559
This row throws an error: :)335836
This row throws an error: .341523
This row throws an error: .343041
This row throws an error: .344514
This row throws an error: .344542
This row throws an error: .345629
This row throws an error: .345641
This row throws an error: .346193
This row throws an error: ...347088
This row throws an error: .349695
This row throws an error: .349774
This row throws an error: ❤351269
This row throws an error: .352648
This row throws an error: .355159
This row throws an error: .357243
This row throws an error: .357899
This row throws an error: ⭐️⭐️⭐️⭐️⭐️358027
This row throws an error: .360202
This row throws an error: .360497
This row throws an error: .360570
This row throws an error: ...............364330
This row throws an error: .364383
This row throws an error: .364580
This row throws an error: .364934
This row throws an error: .365113
This row throws an error: .365144
This row throws an error: .368757
This row throws an error: -369215
This row throws an error: .369445
This row throws an error: .369730
This row throws an error: ^370315
This row throws an error: ❤️370355
This row throws an error: ...370364
This row throws an error: -371123
This row throws an error: .372433
This row throws an error: .374856
This row throws an error: .375042
This row throws an error: 0375784
This row throws an error: .376508
This row throws an error: .376539
This row throws an error: .376829
This row throws an error: 5/5377651
This row throws an error: .378203
This row throws an error: ...380106
This row throws an error: .380874
This row throws an error: .381139
This row throws an error: ❣️❣️❣️
381140
This row throws an error: .381187
This row throws an error: .381712
This row throws an error: .382120
This row throws an error: 5382638
This row throws an error: .383517
This row throws an error: 10/10384010
This row throws an error: 10/10384662
This row throws an error: .385081
This row throws an error: :)386139
This row throws an error: ⭐⭐⭐⭐⭐386960
This row throws an error: -388186
This row throws an error: .388233
This row throws an error: !388488
This row throws an error: .389611
This row throws an error: .390592
This row throws an error: .390618
This row throws an error: .393484
This row throws an error: .394932
This row throws an error: .395977
This row throws an error: ...396336
This row throws an error: .396382
This row throws an error: .396644
This row throws an error: .397481
This row throws an error: ｡398209
This row throws an error: .398811
This row throws an error: ´400408
This row throws an error: -400763
This row throws an error: 10/10403560
This row throws an error: .405099
This row throws an error: 10/10406938
This row throws an error: .407408
This row throws an error: .407418
This row throws an error: .408701
This row throws an error: -411253
This row throws an error: .411748
This row throws an error: .412586
This row throws an error: .416548
This row throws an error: .420130
This row throws an error: .420135
This row throws an error: .422384
This row throws an error: .422679

### Creating a new dataframe with filtered list

In [50]:
filtered_df = pd.DataFrame(filtered_list,columns=['listing_id','date','reviewer_id','comments'])

In [51]:
filtered_df.head()

,listing_id,date,reviewer_id,comments
0,2060,2008-09-22,2865,"very nice neighborhood,close enough to ""A"" tra..."
3,2595,2009-12-10,38960,I've stayed with my friend at the Midtown Cast...
4,2595,2010-04-09,71130,"We've been staying here for about 9 nights, en..."
5,2595,2010-05-25,117113,We had a wonderful stay at Jennifer's charming...
6,2595,2012-05-07,1783688,Hi to everyone!\r\nWould say our greatest comp...

In [52]:
filtered_df.to_csv('preprocessed_reviews.csv',index=False)

<b>Out of 1273227, 153889 comments are removed based on non-english language and non-alpha chracters.<b>

In [78]:
preprocessed_file = pd.read_csv('preprocessed_reviews.csv')
print(len(preprocessed_file))

1119338

In [79]:
preprocessed_file.head()

,listing_id,date,reviewer_id,comments
0,2060,2008-09-22,2865,"very nice neighborhood,close enough to ""A"" tra..."
1,2595,2009-12-10,38960,I've stayed with my friend at the Midtown Cast...
2,2595,2010-04-09,71130,"We've been staying here for about 9 nights, en..."
3,2595,2010-05-25,117113,We had a wonderful stay at Jennifer's charming...
4,2595,2012-05-07,1783688,Hi to everyone!\r\nWould say our greatest comp...

(1119338, 4)